/* Global font installation */ 
body { 
    font-family: 'Baloo Bhaina 2', cursive;
    /* background-color: #edeef0; */
}


/* Styling across all platforms\sizes */ 

/* This button is common for both versions */
.button-search:hover {
    color: white !important;
    background-color: rgba(75, 75, 250, 0.973) !important;
}

.button-search {
    transition-duration: 0.3s;
}

.has-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
}

.has-line {
    position: relative;
    width: 135px;
    height: 6px;
    left: 210px;
    bottom: 7px;
    
    background: #FF7A00;
    border-radius: 5px;
    transform: rotate(-3.3deg);
}

/*
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 */


/*
    Desktop Version CSS styling
*/
#desktopHeader a {
    color: black;
    text-decoration: none;

}

#desktopHeader a:hover {
    color: rgba(75, 75, 250, 0.973);
    text-decoration: none;
}

#departs-btn-desktop {
    background-color: rgba(231, 231, 231, 0.5) !important;
    color: black;
}

#sideBlock a {
    color: black;
}

#sideBlock a:hover {
    color: rgba(75, 75, 250, 0.973);
    text-decoration: none;
}

/*
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 */

/*
    Mobile Version styling

*/
#collapse-mob-button {
    background-color: rgba(231, 231, 231, 0.5) !important;
    color: black;
    border-color: transparent;
}
 
/*
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ 
 */
